body{
  width: 280px;
}
button {
  height: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}